
form {
	/* background-color: rgba(245, 245, 245); */
	border-radius: 0.5rem;
}

fieldset > * + * {
	margin-top: 0.5rem;
}

form > * + * {
	margin-top: 1.5rem;
}


input[type="checkbox"],
input[type="radio"]{
	width: 20px;
	height: 1.5em;
	margin-right: 0.65rem;
}
