.blink {
  animation: color-change 1s infinite;
  animation-name: blinking;
}
@keyframes blinking {
  0% {
    color: red;
    transform: scale(1);
  }

  50% {
    color: #e7a019;
    transform: scale(1.1);
  }

  100% {
    color: red;
    transform: scale(1);
  }
}
