.conteudo {
  width: 450px;
}
@keyframes fadeSlideIn {
  from {
    transform: translateX(-20px);
    opacity: 0;
    visibility: hidden;
  }
  to {
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    visibility: hidden;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

.carrousel {
  display: grid;
  grid-auto-flow: column;
  scroll-behavior: auto;
  gap: 1.2rem;
  overflow-y: auto;
  overscroll-behavior-x: contain;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  animation: fadeSlideIn 1000ms ease 0s, fadeIn 1000ms ease 0s;
}
.carrousel::-webkit-scrollbar {
  display: none;
}

.card {
  scroll-snap-align: start;
  border-radius: 15px;
  min-height: 200px;
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  border-color: rgba(235, 229, 229, 0.748);
}


.carousel-nav {
  display: flex;
  width: 80px;
  transform: translateY(-50%);
  border-radius: 50%;
}

.carousel-nav-button {
  position: absolute;
  top: 100%;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #fff;
  padding: 0.5rem;
  color: rgba(26, 135, 231, 0.873);
  justify-self: center;
  align-items: center;
}

.carousel-nav-icon {
  font-size: 2rem;
}

@media (max-width: 768px) {
  .carousel-nav {
    display: none;
  }
  .card {
    min-width: 220px; 
  }

}

@media (min-width: 769px) {
  .carousel-nav-mobile {
    display: none;
  }
  .carousel-container {
    display: flex;
    position: relative;
  }
}



